.food-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ce1f1f;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}



.food-card.red {
  background-color: #ff4d4f;
}

.food-card.orange {
  background-color: #faad14;
}

.food-card.green {
  background-color: #52c41a;
}


.food-card:hover {
  background-color: #000000;
}

.food-left {
  display: flex;
  flex-direction: column;
}

.expiry {
  font-size: 0.9rem;
  color: #000000;
}

.food-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.food-id {
  font-size: 0.85rem;
  color: #10e082;
}

.delete-btn {
  background: #ff4d4f;
  color: rgb(12, 2, 45);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background-color: #ff7875;
}